body{
    font-family: sans-serif;
}
/*.textview{*/
/*   width: 154px;*/
/*    padding: 5px;*/
/*    font-size: 30px;*/
/*    text-align: right;*/
/*    background: dimgray;*/
/*    margin-bottom: 5px;*/
/*}*/
.botao{
    height: 45px;
}
#calculator{
    margin-top: 50px;
    background: darkgray;
    padding: 21px;
    width: 200px;
}

.visor{
    height: 45px;
    width: 154px;
    padding: 5px;
    font-size: 30px;
    text-align: right;
    background: dimgray;
    margin-bottom: 5px;

}